### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [2]:
df = pd.read_csv("rating_chocobar.csv")

### Q3. df의 첫 3개 row를 출력하시오

In [3]:
df.head(3)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo

### Q4. df의 마지막 2개 row를 출력하시오

In [4]:
df.tail(2)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q5. df의 차원을 확인하시오

In [5]:
df.ndim

2

### Q6. df의 row 개수를 확인하시오

In [6]:
len(df)

1795

In [7]:
df.shape[0]

1795

### Q7. df의 column 개수를 확인하시오

In [8]:
df.shape[1]

9

In [9]:
len(df.columns)

9

### Q8. df의 column 이름을 확인하시오

In [10]:
df.columns

Index(['Company_Maker_if_known', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad_Bean_Origin'],
      dtype='object')

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [11]:
df2 = df.copy()

In [12]:
df = df.rename(columns = {"Company_Maker_if_known": "aa"})
df.head(1)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome

In [13]:
df2 = df2.rename(columns = {df2.columns[0]: "aa"})
df2.head(1)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [14]:
df_sub1 = df.iloc[[0, 3, 9], ]
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

In [17]:
df2 = df2.set_index("REF")
df2.head(2)

,aa,Specific_Bean_Origin_or_Bar_Name,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
REF,,,,,,,,
1876,A. Morin,Agua Grande,2016,63%,France,3.75,NaN,Sao Tome
1676,A. Morin,Kpime,2015,70%,France,2.75,NaN,Togo

In [20]:
# df2_sub1 = df2.loc[[0, 3, 9], ]
df2_sub1 = df2.iloc[[0, 3, 9], ]
df2_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
REF,,,,,,,,
1876,A. Morin,Agua Grande,2016,63%,France,3.75,NaN,Sao Tome
1680,A. Morin,Akata,2015,70%,France,3.50,NaN,Togo
1319,A. Morin,Pablino,2014,70%,France,4.00,NaN,Peru

In [16]:
df_sub1 = df.loc[[0, 3, 9], ]
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [15]:
import numpy as np

In [22]:
df_sub2 = df.loc[np.arange(2, len(df), 2), ]
df_sub2.head()

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.50,NaN,Cuba
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
10,A. Morin,Panama,1011,2013,70%,France,2.75,NaN,Panama

In [24]:
df_sub2 = df.loc[2:df.index.max():2, ]
df_sub2.head()

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.50,NaN,Cuba
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
10,A. Morin,Panama,1011,2013,70%,France,2.75,NaN,Panama

### Q12. df_sub1과 df_sub2를 차례대로 병합하여 df_sub 객체에 저장하시오

In [25]:
df_sub = pd.concat([df_sub1, df_sub2])

### Q13. df_sub를 "quiz_sub.csv"로 저장하시오.

In [ ]:
df_sub.to_csv("quiz_sub.csv", index = False)